<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='" />
    <title>Lectron</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            /*background: url('assets/images/backgrounds/<%=bkid%>.jpg') no-repeat center center fixed;*/
            transition: background-image 1s ease;
            background-image: url('assets/images/backgrounds/background.png');
            background-size: cover;
            -webkit-user-select: none;
        }
        
        #main {
            display: none;
            height: calc(100% - 22px);
            /*background: rgb(30, 30, 30, 0.5);*/
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
    </style>
</head>

<body bkid="<%=bkid%>">
    <%- include('frame') %>
        <div id="main">
            <%- include('welcome') %>
                <%- include('login') %>
                    <%- include('settings') %>
                        <%- include('landing') %>
        </div>
        <%- include('overlay') %>
            <div id="loadingContainer">
                <div id="loadingContent">
                    <div id="loadSpinnerContainer">
                        <img id="loadCenterImage" src="assets/images/logo.png">
                    </div>
                </div>
            </div>
            <script>
                // Load language
                for (let key of Object.keys(Lang.query('html'))) {
                    document.getElementById(key).innerHTML = Lang.query(`html.${key}`)
                }
            </script>
</body>

</html>